:root {
    --font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3e4451;
    font-family: var(--font);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container h1 {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.container button{
    margin: 8px;
    border: none;
    background-color: #0096FF;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 10px;
    width: 55%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 700;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.container button:hover {
    transform: scale(1.05);
}

.quiz-box {
    display: none; 
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    padding: 25px;
    border-radius: 20px;
}

.quiz-box header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box header h1 {
    font-size: 30px;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ADD8E6;
    padding: 15px 20px;
    border-radius: 10px;
    gap: 15px;
    font-weight: 700;
}

.quiz-box header .timer .time-left {
    background-color: #1f5479;
    padding: 8px 18px;
    border-radius: 10px;
    color: #fff;
}

.quiz-box section {
    padding: 20px;
}

.quiz-box section .question {
    font-size: 20px;
}

.quiz-box section .option-list {
    margin-top: 15px;
    display: block;
}

.quiz-box section .option {
    background-color: azure;
    border: 1px solid #b3e5fc;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
    cursor: pointer;
}

.quiz-box section .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.quiz-box section .option.selected-option {
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz-box footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-questions{
    display: flex;
    flex-direction: row;
}

.quiz-box footer .total-questions .current-question, .total-questions-num{
    font-weight: 600;
    padding: 0 5px;
}

.quiz-box footer .next-btn {
    background-color: #0096FF;
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.score-box {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 20px;
    width: 45%;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}

.score-box h1 {
    font-size: 30px;
}

.score-box span {
    display: flex;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
}

.score-box span p {
    padding: 0 4px;
}

.score-box .buttons button{
    background-color: #0096FF;
    border: none;
    padding: 16px 25px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.highscore-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    padding: 35px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.highscore-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


.highscore-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.highscore-list li {
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}

.highscore-container li:last-child {
    border-bottom: none;
}